* {
    margin: 0;
    padding: 0;
    
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000;
    color: white;
}

.titulo-destaque {
color: blue;
}

.href {
    padding: 10px;
    border: 5px white;
    background-color: purple;
    color: white;
    border-radius: 10px;
}

